
    <div class="bg-div" style="background-image: url(assets/Images/image4.jpg)">
    <div class="container text-center">
        <br>
        <br>
        <br>
        
        <h1  style="color:black;"><Marquee>WELCOME TO PENSION MANAGEMENT SYSTEM!</Marquee></h1><br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
        <a *ngIf="!loggedIn" routerLink="/login" mat-raised-button color="accent">Login here</a>
    

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>
    <mat-toolbar color="primary"><Marquee>ABOUT US -The Government of India under the leadership of the Honourable Prime Minister has been actively pursuing the objectives of “Minimum Government, Maximum Governance” envisaging Paperless, Cashless and Faceless services across the country,
        especially in rural and remote parts of India. DoT Finance has taken up several initiatives to digitalize and provide solutions for ease of governance, including digital payments, online receipts, direct payment of GPF for BSNL employees, registration of pensioners through Jeevan 
        Pramaan Portal for Life Certification etc.</Marquee>
   </mat-toolbar>
